
body {
  font-family: 'Arial', sans-serif;
}

.car-gallery {
  min-height: 100vh;
  background-color: white;
  color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}


.car-gallery h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}


.car-gallery .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.car-gallery .car-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.car-gallery img {
  border-radius: 0.5rem;
  max-width: 100%;
}


.subheading {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5A00F5; /* Custom blue color */
  text-align: left;
}


.car-gallery p {
  font-size: 1rem;
  text-align: left;
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 90%;
}
